{% extends 'base.html' %}
{% block head %}
<title>İstatistikler</title>
<style>
    #pie-charts {
        width: auto;
        display: inline-block;
        text-align: center;
    }
    .card {
        border-radius: 18px;
    }
    .card-title {
        opacity: 0.7;:
        return render(request, "status/statics.html")
    }
    .card-text {
        font-style: italic;
        opacity: 0.4;
    }
</style>
{% endblock head %}
{% block body %}
<div class="container">
    <div class="row mt-5 mb-5" id="pie-charts">
        <canvas id="cpu_canvas" class="canvas col-3" width="400" height="300">
            Tarayıcınız HTML5'i desteklemediği için bu grafiği göremiyorsunuz.
        </canvas>
        <canvas id="memory_canvas" class="canvas col-3" width="400" height="300">
            Tarayıcınız HTML5'i desteklemediği için bu grafiği göremiyorsunuz.
        </canvas>
        <canvas id="ssd_canvas" class="canvas col-3" width="400" height="300">
            Tarayıcınız HTML5'i desteklemediği için bu grafiği göremiyorsunuz.
        </canvas>
    </div>
    <div id="cards" class="row mt-5">
        <div class="col-4">
            <div class="card bg-secondary text-light">
                <div class="card-body">
                    <h5 class="card-title text-right">{{ statics.packet_count }} Aded</h5>
                    <p class="card-text text-right">Geçen paket adedi.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const memory_now = {{ statics.memory_now }}
    const memory_top = {{ statics.memory_top }}
    const ssd_now = {{ statics.ssd_now }}
    const ssd_top = {{ statics.ssd_top }}
    const cpu_now = {{ statics.cpu_now }}
    const cpu_top = {{ statics.cpu_top }}

    var memory = memory_now*100/memory_top
    var cpu = cpu_now*100/cpu_top
    var ssd = ssd_now*100/ssd_top

    var myColor = ["#6B78C6","#F7544A"];

    var cpuData = [cpu, 100-cpu];
    var memoryData = [memory, 100-memory];
    var ssdData = [ssd, 100-ssd];

    function getTotal(mainData){
        var myTotal = 0;
        for (var j = 0; j < mainData.length; j++) {
            myTotal += (typeof mainData[j] == 'number') ? mainData[j] : 0;
        }
        return myTotal;
    }


    function plotData(canvas_id, someData) {

        var canvas;

        var ctx;
        var lastend = 0;
        var myTotal = getTotal(someData);

        canvas = document.getElementById(canvas_id);

        ctx = canvas.getContext("2d");

        ctx.clearRect(0, 0, canvas.width, canvas.height);

        for (var i = 0; i < someData.length; i++) {

            ctx.fillStyle = myColor[i];
            ctx.beginPath();

            ctx.moveTo(200,150);

            ctx.arc(200,150,150,lastend,lastend+ (Math.PI*2*(someData[i]/myTotal)),false);
            ctx.lineTo(200,150);

            ctx.fill();
            lastend += Math.PI*2*(someData[i]/myTotal);

        }
    }

    plotData("cpu_canvas", cpuData);
    plotData("memory_canvas", memoryData);
    plotData("ssd_canvas", ssdData);
</script>
{% endblock body %}