{% extends 'base.html' %} {% block head %}
<style media="screen">
  .container {
    width: 100%;
    height: 100%;
    margin: 5rem auto;
  }
  .chart-pie-tere {
    margin: auto;
    width: 50%;
    height: 50%;
  }
  .pie-chart {
    margin: auto;
    width: 450px;
    height: 400px;
  }
</style>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
    var memoryTop = {{ statics.memory_top }};
    var memoryNow = {{ statics.memory_now }};

    var ssdTop = {{ statics.ssd_top }};
    var ssdNow = {{ statics.ssd_now }};

    var cpuTop = {{ statics.cpu_top }};
    var cpuNow = {{ statics.cpu_now }};

    var memoryData = google.visualization.arrayToDataTable([
      ["Place", "Percent"],
      ["{{ articles.free }}", memoryTop - memoryNow],
      ["{{ articles.now }}", memoryNow],
    ]);

    var ssdData = google.visualization.arrayToDataTable([
      ["Place", "Percent"],
      ["{{ articles.free }}", ssdTop - ssdNow],
      ["{{ articles.now }}", ssdNow],
    ]);

    var cpuData = google.visualization.arrayToDataTable([
      ["Place", "Percent"],
      ["{{ articles.free }}", cpuTop - cpuNow],
      ["{{ articles.now }}", cpuNow],
    ]);

    var memoryOptions = {
      titlePosition: 'none',
      pieSliceTextStyle: {fontSize: 14},
      legend: {position: 'bottom', textStyle: {fontSize: 14}},
    };

    var ssdOptions = {
      titlePosition: 'none',
      pieSliceTextStyle: {fontSize: 14},
      legend: {position: 'bottom', textStyle: {fontSize: 14}},
    };

    var cpuOptions = {
      titlePosition: 'none',
      pieSliceTextStyle: {fontSize: 14},
      legend: {position: 'bottom', textStyle: {fontSize: 14}},
    };

    var memoryChart = new google.visualization.PieChart(
      document.getElementById("memory")
    );

    var ssdChart = new google.visualization.PieChart(
      document.getElementById("ssd")
    );

    var cpuChart = new google.visualization.PieChart(
      document.getElementById("cpu")
    );

    memoryChart.draw(memoryData, memoryOptions);
    ssdChart.draw(ssdData, ssdOptions);
    cpuChart.draw(cpuData, cpuOptions);
  }
</script>
{% endblock head %} {% block body %}
<div class="mb-5 container row">
  <div class="chart-pie-tere">
    <h1 class="text text-center">{{ articles.memory }}</h1>
    <div id="memory" class="pie-chart"></div>
  </div>
  <div class="chart-pie-tere">
    <h1 class="text text-center">{{ articles.ssd }}</h1>
    <div id="ssd" class="pie-chart"></div>
  </div>
  <div class="chart-pie-tere">
    <h1 class="text text-center">{{ articles.cpu }}</h1>
    <div id="cpu" class="pie-chart"></div>
  </div>
</div
{% endblock body %}
