{% extends 'base.html' %} {% block head %}
<title>{{articles.title}}</title>
<style>
  h3 {
    text-align: center;
  }
  form {
    text-align: center;
  }
  .col-8 {
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock head %} {% block body %}

<div class="container mt-5">
  <div id="title">
    <h3 class="text mt-3 mb-2">{{articles.title}}</h3>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="form-check form-switch mb-5">
      <input class="form-check-input" type="checkbox" name="open_cli" id="opened-cli" />
      {% if values.open_cli == False %}
        <label class="form-check-label" for="opened-cli">{{ articles.open_cli_access_switch }}</label>
      {% endif %}
    </div>

    {% if values.open_cli %}

    <div class="col-8 mt-4">
      <label for="baud_rate" class="form-label"
        >Baud Rate ({{articles.now_text}}: {{values.baud_rate}})</label
      >
      <select class="form-select" name="baud_rate" id="baud_rate">
        <option value="1200">1200</option>
        <option value="2400">2400</option>
        <option value="9600">9600</option>
        <option value="38400">38400</option>
        <option value="57600">57600</option>
        <option value="115299">115200</option>
      </select>
    </div>
    <div class="col-8 mt-4">
      <label for="data_bits" class="form-label"
        >{{articles.data_bits}} ({{articles.now_text}}:
        {{values.data_bits}})</label
      >
      <select class="form-select" name="data_bits" id="data_bits">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
        <option value="128">128</option>
        <option value="256">256</option>
      </select>
    </div>
    <div class="col-8 mt-4">
      <label for="stop_bits" class="form-label"
        >{{articles.stop_bits}} ({{articles.now_text}}:
        {{values.stop_bits}})</label
      >
      <select class="form-select" name="stop_bits" id="stop_bits">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
        <option value="128">128</option>
        <option value="256">256</option>
      </select>
    </div>
    <div class="col-8 mt-4 mb-4">
      <label for="parity" class="form-label"
        >{{articles.parity_text}} ({{articles.now_text}}:
        {{values.parity}})</label
      >
      <select class="form-select" name="parity" id="parity">
        <option value="None">None</option>
        <option value="Odd">Odd</option>
        <option value="Even">Even</option>
      </select>
    </div>
    {% endif %}

    <button
      type="submit"
      style="margin-bottom: 10%"
      class="btn btn-outline-success"
    >
      {{articles.save_text}}
    </button>
  </form>
</div>

<script>
  var baud_rate = document.getElementById("baud_rate");
  var data_bits = document.getElementById("data_bits");
  var stop_bits = document.getElementById("stop_bits");
  var parity = document.getElementById("parity");
  var openCli = document.getElementById("opened-cli");

  baud_rate.value = "{{values.baud_rate}}";
  data_bits.value = "{{values.data_bits}}";
  stop_bits.value = "{{values.stop_bits}}";
  parity.value = "{{values.parity}}";
  openCli.checked = "{{values.open_cli}}" == "True" ? true : false;
  console.log(openCli.checked)
</script>
{% endblock body %}
