{% extends 'base.html' %} {% block head %}
<title>{{articles.title}}</title>
<style>
  h3 {
    text-align: center;
  }
  form {
    text-align: center;
  }
  .col-8 {
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock head %} {% block body %}

<div class="container mt-5">
  <h3 class="text mt-3 mb-3">{{articles.title}}</h3>
  <form method="post">
    {% csrf_token %} {% if value %}
    <div class="form-check form-switch mb-5">
      {% if value.open_remote %}
      <input
        class="form-check-input"
        type="checkbox"
        name="open_remote"
        id="open_remote"
        checked
      />
      {% endif %} {% if value.open_remote == False %}
      <input
        class="form-check-input"
        type="checkbox"
        name="open_remote"
        id="open_remote"
      />
        <label class="form-check-label" for="open_remote">{{ articles.open_remote }}</label>
      {% endif %}
    </div>
    <div id="container">
      {% if value.open_remote %}
      <div class="col-8 mt-4">
        <label for="dhcp_setting" class="form-label">{{articles.dhcp}}</label>
        <select class="form-select" name="dhcp_setting" id="dhcp_setting">
          {% if value.dhcp_enabled %}
          <option value="True" selected>{{articles.enabled}}</option>
          <option value="False">{{articles.disabled}}</option>
          {% else %}
          <option value="False" selected>{{articles.disabled}}</option>
          <option value="True">{{articles.enabled}}</option>
          {% endif %}
        </select>
      </div>
      <div class="col-8 mt-4">
        <label for="ip_address" class="form-label"
          >{{articles.ip_address}}</label
        >
        <input
          value="{{value.ip_address}}"
          class="form-control"
          type="text"
          name="ip_address"
          id="ip_address"
        />
      </div>
      <div class="col-8 mt-4">
        <label for="port" class="form-label">{{articles.port}}</label>
        <input
          value="{{value.port}}"
          class="form-control"
          type="text"
          name="port"
          id="port"
        />
      </div>
      <div class="col-8 mt-4">
        <label for="subnet_mask" class="form-label"
          >{{articles.subnet_mask}}</label
        >
        <input
          value="{{value.subnet_mask}}"
          class="form-control"
          type="text"
          name="subnet_mask"
          id="subnet_mask"
        />
      </div>
      <div class="col-8 mt-4">
        <label for="boardcast_address" class="form-label"
          >{{articles.broadcast_address}}</label
        >
        <input
          value="{{value.broadcast_address}}"
          class="form-control"
          type="text"
          name="broadcast_address"
          id="broadcast_address"
        />
      </div>
      <div class="col-8 mt-4">
        <label for="gateway_address" class="form-label"
          >{{articles.gateway_address}}</label
        >
        <input
          value="{{value.gateway_address}}"
          class="form-control"
          type="text"
          name="gateway_address"
          id="gateway_address"
        />
      </div>
      <div class="col-8 mt-4">
        <label for="dns_address" class="form-label"
          >{{articles.dns_address}}</label
        >
        <input
          value="{{value.dns_address}}"
          class="form-control"
          type="text"
          name="dns_address"
          id="dns_address"
        />
      </div>
      <div class="col-8 mt-4" id="dhcp_address_div">
        <label for="dhcp_address" class="form-label"
          >{{articles.dhcp_address}}</label
        >
        <input
          value="{{value.dhcp_address}}"
          class="form-control mb-5"
          type="text"
          name="dhcp_address"
          id="dhcp_address"
        />
      </div>
      {% endif %} {% endif %}
    </div>
    <button
      type="submit"
      style="margin-bottom: 10%"
      class="btn btn-outline-success"
    >
      {{articles.save_text}}
    </button>
  </form>
</div>

<script>
  const ip_address = document.getElementById("ip_address");
  const subnet_mask = document.getElementById("subnet_mask");
  const broadcast_address = document.getElementById("broadcast_address");
  const gateway_address = document.getElementById("gateway_address");
  const dns_address = document.getElementById("dns_address");
  const dhcp_setting = document.getElementById("dhcp_setting");
  const dhcp_address_div = document.getElementById("dhcp_address_div");
  const container = document.getElementById("container");
  const open_remote = document.getElementById("open_remote");

  if (dhcp_setting.value === "True") {
    ip_address.readOnly = true;
    subnet_mask.readOnly = true;
    broadcast_address.readOnly = true;
    gateway_address.readOnly = true;
    dns_address.readOnly = true;
  } else {
    dhcp_address_div.hidden = true;
  }

  console.log(open_remote.value);
</script>
{% endblock body %}
