{% extends 'base.html' %}
{% block head %}
<title>Zaman Ayarları</title>
<style>
    h3 {
      text-align: center;
    }
    form {
        text-align: center;
    }
    .col-8 {
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock head %}
{% block body %}
<div class="container mt-5">
    <h3 class="text mt-3 mb-5">Zaman Ayarları</h3>
    <form method="post">
        {% csrf_token %}
        <div class="col-8 mt-4">
          <label for="ntp_use" class="form-label">NTP Kullan/Kullanma</label>
          <select class="form-select" name="ntp_use" id="ntp_use">
              <option value="True">Kullan</option>
            <option value="False">Kullanma</option>
          </select>
        </div>
        <div class="col-8 mt-4">
          <label for="date_time" class="form-label">Tarih Ve Saat</label>
          <input class="form-control" type="datetime-local" name="date_time" id="date_time">
        </div>
        <div class="col-8 mt-4">
          <label for="server1" class="form-label">Server</label>
          <input class="form-control" type="text" name="server1" id="server1">
        </div>
        <div class="col-8 mt-4">
          <label for="ip_address1" class="form-label">IP</label>
          <input class="form-control" type="text" name="ip_address1" id="ip_address1">
        </div>
        <div class="col-8 mt-4">
          <label for="timezone" class="form-label">Timezone</label>
          <input class="form-control" type="text" name="timezone" id="timezone">
        </div>
        <div class="col-8 mt-4">
          <label for="server2" class="form-label">Server</label>
          <input class="form-control" type="text" name="server2" id="server2">
        </div>
        <div class="col-8 mt-4">
          <label for="ip_address2" class="form-label">IP</label>
          <input class="form-control" type="text" name="ip_address2" id="ip_address2">
        </div>
        <div class="col-8 mt-4 mb-4">
          <label for="timezone2" class="form-label">Timezone</label>
          <input class="form-control" type="text" name="timezone2" id="timezone2">
        </div>
        <button type="submit" style="margin-bottom: 10%;" class="btn btn-outline-success">Kaydet</button>
    </form>
</div>
{% endblock body %}