<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <style>
      #page-container {
        position: relative;
        min-height: 100vh;
      }

      #content-wrap {
        padding-bottom: 4.5rem; /* Footer height */
      }

      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4.5rem; /* Footer height */
      }
    </style>
    {% block head %} {% endblock head %}
  </head>
  <body>
    <div id="page-container">
        {% block nonavbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a href="{% url 'home' %}" class="navbar-brand fs-3" href="#">
                    {% load static %}
                    <img
                      width="60"
                      height="50"
                      class="d-inline-block align-text-top"
                      src="{% static 'images/kindi.png' %}"
                      alt="Kindi"
                  /></a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Menuler -->

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <!-- Ana sayfa -->

                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          href="{% url 'home' %}"
                          >{{ navbar_articles.homepage }}</a
                        >
                      </li>

                      <div class="nav navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Sistem Durumu -->

                        <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            {{ navbar_articles.system_status }}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a class="dropdown-item" href="{% url 'statics' %}">{{ navbar_articles.statistics_field }}</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'packets' %}">PAKETLER</a></li>
                            <li>
                              <a class="dropdown-item" href="{% url 'log' %}"
                                >{{ navbar_articles.log_records }}</a
                              >
                            </li>
                          </ul>
                        </li>

                        <!-- Sistem Ayarları -->

                        <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="system_settings"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            {{ navbar_articles.system_settings}}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a
                                class="dropdown-item"
                                href="{% url 'remote_access' %}"
                                >{{ navbar_articles.remote_access_settings }}</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item" href="{% url 'local_access' %}"
                                >{{ navbar_articles.cli_access_settings }}</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="{% url 'time_settings' %}"
                                >{{ navbar_articles.time_settings }}</a
                              >
                            </li>
                          </ul>
                        </li>

                        <!-- Kullanıcı Ayarları -->

                        <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="user_settings"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            {{ navbar_articles.user_settings }}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a class="dropdown-item" href="{% url 'register' %}"
                                >{{ navbar_articles.user_administration }}</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">{{ navbar_articles.authorization }}</a>
                            </li>
                          </ul>
                        </li>

                        <!-- Video Transfer Settings -->

                        <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="video_transfer"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            {{ navbar_articles.video_transfer }}
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a class="dropdown-item" href="{% url 'video_transfer_settings' %}"
                                >{{ navbar_articles.video_transfer_settings }}</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item" href="{% url 'video_input' %}">{{ navbar_articles.input_settings }}</a>
                            </li>
                          </ul>
                        </li>

                      </div>

                    <!-- FTP Settings -->

                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          href="{% url 'ftp_settings' %}"
                          >{{ navbar_articles.ftp_settings }}</a
                        >
                      </li>
                    </ul>


                    <!-- Logout -->

                    <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item">
                        <p class="nav-link active">{{request.user}}</p>
                      </li>

                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          href="{% url 'logout' %}"
                          >{{ navbar_articles.logout_link }}</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        {% endblock nonavbar %}


        <!-- Error Messages -->


        <div id="content-wrap">
          {% for message in messages %} {% if "info" == message.tags %}
          <div
            style="width: 300px; z-index: 5;"
            class="
              position-fixed
              bottom-0
              end-0
              alert alert-warning alert-dismissible
              fade
              show
            "
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% elif "success" in message.tags %}
          <div
            style="width: 300px; z-index: 5"
            class="
              position-fixed
              bottom-0
              end-0
              alert alert-success alert-dismissible
              fade
              show
            "
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endif %} {% endfor %}
         {% block body %} {% endblock body %}
        </div>


        <!-- FOOTER -->


        {% block nofooter %}
            <footer id="footer" class="text-center text-lg-start bg-light text-muted">
          <div
            class="text-center p-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
          >
            <div style="display: inline-block; float: left;">
              <a href="{% url 'change_lang' lang='TR' %}">Türkçe</a> |
              <a href="{% url 'change_lang' lang='EN' %}">English</a> |
              <a href="{% url 'change_lang' lang='FR' %}">Français</a>
            </div>
            <div style="text-align: center;">
              <a
                href="https://www.copyright.gov/what-is-copyright/"
                class="text-reset"
                target="_blank"
                >Copyright ©</a
              >
              2021
              <a
                target="_blank"
                class="text-reset fw-bold"
                href="https://www.rovenma.com/"
                >Rovenma A.Ş.</a
              >
              {{ navbar_articles.footer }}.
            <a
              class="text-muted"
              style="display: inline-block; float: right"
              href="#"
              ><i class="fas fa-chevron-up"></i
            ></a>
            </div>

          </div>
        </footer>
        {% endblock nofooter %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/8ebcde82a6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
