{% extends 'base.html' %} {% block head %}

<title>Kullanıcı Yönetimi</title>

{% endblock head %} {% block body %}
<h4 class="text text-center mt-5 mb-4">Kullanıcı Oluştur</h4>
<div class="kullanici-olustur">
  <form
    class="d-flex justify-content-center row gy-2 gx-3 align-items-center"
    method="POST"
    action=""
  >
    {% csrf_token %}

    <div class="col-auto">
      <label for="id_username" class="form-label">Kullanıcı Adı Soyadı</label>
      {{form.first_name}}
    </div>

    <div class="col-auto">
      <label for="id_username" class="form-label">Kullanıcı Adı</label>
      {{form.username}}
    </div>

    <div class="col-auto">
      <label for="id_password1" class="form-label">Şifre</label>
      {{form.password1}}
    </div>

    <div class="col-auto">
      <label for="id_password2" class="form-label">Şifre Doğrulama</label>
      {{form.password2}}
    </div>

    <div class="col-auto">
      <label for="usertype">Kullanıcı Tipi</label>
      <select
        id="usertype"
        class="form-select"
        name="usertype"
        aria-label="Default select example"
      >
        <option value="superuser">Super Admin</option>
        <option value="staff">Admin</option>
        <option value="operator" selected>Operator</option>
      </select>
    </div>
    <div class="col-auto">
      <label></label>
      <input class="btn btn-secondary" type="submit" value="Oluştur" />
    </div>
  </form>
  <script>
    var form_fields = document.getElementsByTagName("input");
    form_fields[1].placeholder = "Ad Soyad";
    form_fields[2].placeholder = "Kullanıcı Adı";
    form_fields[3].placeholder = "Şifre";
    form_fields[4].placeholder = "Şifre Tekrarı";
    for (var field in form_fields) {
      form_fields[field].className += " form-control";
    }
  </script>
</div>

<hr class="mt-5" />

<h4 class="text text-center mt-5 mb-4">Kullanıcı Ayarları</h4>
<div class="">
  <table class="table" style="margin: 0 15px">
    <thead>
      <tr>
        <th scope="col">Kullanıcı Adı Soyadı</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Yetki Durumu</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user}}</td>

        {% if user.is_superuser %}
        <td>Super Admin</td>
        {% elif user.is_staff %}
        <td>Admin</td>
        {% else %}
        <td>Operator</td>
        {% endif %}
        <td>
          {% if user != request.user %}
            <form action="../delete/{{user}}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Sil</button>
            </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
<!-- onclick="document.getElementById('password1').value = sha256(document.getElementById('password1').value)" -->
