{% extends 'base.html' %}
{% block body %}
<form class="mt-5" method="post" style="width: 30%; margin: auto;" autocomplete="off">
  {% csrf_token %}
  <div class="form-group">
    <label for="password1" class="mt-5">New Password</label>
    <input type="password" class="form-control" id="password1" name="passwd" placeholder="Password" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label for="verify" class="mt-4">Verify Password</label>
    <input type="password" class="form-control" id="verify" name="passwd2" placeholder="reEnter Password" autocomplete="off" required>
  </div>
  <button type="submit" onclick="tryTrue()" class="btn btn-primary mt-3" style="width: 100%;">Change Password</button>
</form>
{% block nofooter %}
{% endblock nofooter %}
{% endblock body %}
